@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
/* header  */
.header {
  text-align: center;
}
.header > a:hover h1 {
  color: #d3cccc;
}
h1 {
  background-color: #0f0f0f;
  height: 12rem;
  font-size: 40px;
  letter-spacing: 4px;
  color: #fff;
  padding-top: 34px;
}
/* section nav */
.section-nav {
  background-color: #fff;
  font-size: 20px;
}
#nav-menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 40rem;
  padding-right: 40rem;
  font-size: 20px;
}
li > a {
  color: #555;
}

li > a:hover {
  border-bottom: 1px solid #0f0f0f;
  color: #d3cccc;
}
.active {
  border-bottom: 1px solid #0f0f0f;
}
/* hero image */
#hero-img {
  height: 500px;
  width: 100%;
  background: url("../images/startup-gc4918148f_1920.jpg") no-repeat center
    center;
}
#cover-text {
  /* color: #fff; */
  font-size: 80%;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 450px;
  height: 170px;
  padding-top: 10px;
  padding-left: 10px;

  background-color: rgba(192, 192, 192, 0.3);

  bottom: 150px;
  right: 0;
  position: absolute;
}
