@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@700&display=swap");
/* home page style start*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Change the scale ratio to 1rem=10px (default 1rem=16px), then convert to be %(percentage of user's browser fon-size setting)*/
html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.container-grid {
  display: grid;
  grid-template-rows: 240px 600px auto;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
/* header  */
.header {
  text-align: center;
}
.header > a:hover h1 {
  color: #d3cccc;
}
h1 {
  background-color: #0f0f0f;
  height: 12rem;
  font-size: 44px;
  letter-spacing: 4px;
  color: #fff;
  padding-top: 34px;
}
/* header nav */
.header-nav {
  background-color: #fff;
  font-size: 22px;
}
.header-nav-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header-nav-menu > ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 1fr;
  padding-right: 1fr;
  padding-top: 42px;
  font-size: 24px;
  letter-spacing: 2px;
}
li > a {
  color: #555;
}

li > a:hover {
  border-bottom: 1px solid #0f0f0f;
  color: #d3cccc;
}
.active {
  border-bottom: 1px solid #0f0f0f;
}
/* main */
/* hero image */
.hero-image {
  height: 60rem;
  width: 100%;
  background: url("../images/startup-gc4918148f_1920.jpg") no-repeat center
    center;
  position: relative;
}
/* hero image cover text */
.hero-image-cover-text {
  font-size: 80%;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  width: 64rem;
  height: 20rem;
  padding: 15px;
  padding-bottom: 40px;
  line-height: 30px;
  background-color: rgba(192, 192, 192, 0.6);

  bottom: 80px;
  right: 70px;
  position: absolute;
}
/* footer weekly agenda template */
.footer-container {
  background-image: url("../images/iphone-g9fd88660b_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.footer-container-weekly-agenda-template-list {
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 32px;
}

.footer-container-weekly-agenda-template-list div {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: #fafafa;
  font-display: inline;
  white-space: nowrap;
  letter-spacing: 2px;
}

.footer-container-weekly-agenda-template-list a {
  cursor: pointer;
  text-decoration: underline;
  color: #d3cccc;
}
.footer-container-weekly-agenda-template-list a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}
/* footer  */
/* footer social network link */
.footer-social-network-container-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
}
/* .footer-social-network-container-list li > a:hover {
  text-decoration: none;
} */
.footer-social-network-container-list > a {
  text-decoration: none;
}
.footer-social-network-container-list i {
  font-size: 400%;
  color: #f7f9f5;
}
.footer-social-network-container-list a:hover > i {
  color: #555;
  text-decoration: none;
}
/* footer sponsored logo */
.footer-sponsored-container {
  display: flex;
  flex-direction: column;
  column-gap: 0;
  border: 1px solid #fff;
  border-radius: 5px;
}
.footer-sponsored-container-logo-list-top p {
  color: #fafafa;
  padding-bottom: 10px;
}
.footer-sponsored-container-logo-list-bottom p {
  color: #fafafa;
  padding-bottom: 10px;
}
.footer-sponsored-container > h4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  color: #fafafa;
}
.footer-sponsored-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 40px;
}
.footer-sponsored-container-logo-list-top {
  margin-right: 25px;
}
.footer-sponsored-container-logo-list-top i {
  font-size: 150%;
  color: #ffffff;
}
.footer-sponsored-container-logo-list-bottom i {
  font-size: 150%;
  color: #ffffff;
}
.footer-sponsored-container-logo-list-top li {
  text-align: center;
  font-size: 22px;
  padding-right: 45px;
}
.footer-sponsored-container-logo-list-bottom li {
  text-align: center;
  font-size: 22px;
}
/* home page style end*/

/* about style start */
.about-container {
  display: grid;
  grid-template-rows: 10rem 30rem 90rem auto;
  text-align: center;
  border: 3px solid #555;
  border-radius: 7px;
  margin-top: 40px;
  margin: 5px;
  position: relative;
}
.about-container-organization-story {
  line-height: 50px;
}
.about-container-organization-story p {
  color: #555;
  margin: 30px;
  font-size: 24px;
}
.about-container span {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
  color: #0f0f0f;
}
.about-container img {
  width: 160rem;
  height: 70rem;
  align-items: center;
  margin-top: 60px;

  margin-left: 30px;
}
.about-container-organizational-chart h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 150px;
}

.about-container h2 {
  background-color: #fff;
  color: #0f0f0f;
  margin-top: 40px;
  font-size: 40px;
}

.about-container-organizational-chart img {
  width: 19rem;
  height: 19rem;
  margin-right: 30px;
  margin-bottom: 20px;
  border: 3px solid black;
}
.about-container hr {
  border-top: 3px solid black;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}
.about-container-organizational-chart-manager {
  margin-bottom: 30px;
}
.about-container-organizational-chart-colleague {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  list-style-type: none;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 300px;
  margin-top: 130px;
}
.about-container-organizational-chart li {
  align-items: center;
  justify-content: center;
}
/* .about-container-organizational-chart {
  position: absolute;
} */
.about-container-organizational-chart p {
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  color: #555;
}
/* about style end */

/* sign-up style start */

.sign-up-container-grid {
  display: grid;
  grid-template-rows: 24rem 100rem auto;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 60rem;
  height: 90rem;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  margin-left: 52rem;
  margin-top: 80px;
}
.form {
  padding: 40px 30px;
  padding-bottom: 40px;
}
.form > h2 {
  text-align: center;
  margin: 0 0 0 20px;
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 40px;
}
.form-control {
  position: relative;
  margin-bottom: 10%;
  padding-bottom: 20px;
  line-height: 40px;
}
.form-control {
  color: #555;
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form button {
  cursor: pointer;
  background-color: f8f9fa;
  border: 3px solid bfc0c0;
  width: 100%;
  font-size: 24px;
  padding: 10px;
  margin-top: 46px;
}
.form button:hover {
  outline: 0;
  border-color: #999;
}
/* sign-up style end */
